<div style="text-align:right;">
  <% if user_signed_in? %>
    <b><%= current_user.name %></b><br>
    <%= link_to 'Edit Account', edit_user_registration_path %><br>
    <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %><br>
  <% else %>
    <%= link_to 'Log In', new_user_session_path %> or <%= link_to 'Register', new_user_registration_path %><br>
    Save and share<br>your job interests.<br>
  <% end %>
</div>
