<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobcatcher</title>
    <link href="/assets/boot-business.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="https://raw.github.com/allmarkedup/purl/master/purl.js"></script>
  </head>
  <body>
    <%= render :partial => "devise/shared/login_link" %>
    <% j = params[:place].to_i %>
    <% if @companies[j].nil? %>
      <h4>We're sorry, no jobs to catch.</h4>
      <h3>Try Again</h3>
      <%= render :partial => "jobs/search" %>
    <% else %>
      <br><div style="font-size:18px;"><b><%= @titles[j].text %></b></div>
      <%= @companies[j].text %> - <%= @locations[j].text %><br><br>
      <a href="http://www.indeed.com/<%= @titles[j][:href] %>" target=_blank><%= @summaries[j].text %></a><br><br><br>
      
      <% if user_signed_in? %>
        <% if params[:commit] == "Like" || params[:commit] == "Dislike" %>
          <% @like_value = nil %>
          <% @likes.each do |like| %>
            <% if like.job_id.to_i == params[:id_sent].to_i && like.user_id.to_i == current_user.id.to_i %>
              <% @like_value = like %>
              <% break %>
            <% end %>
          <% end %>
          <% if @like_value.nil? %>
            <% @like_value = Like.new %>
            <% @like_value.job_id = params[:id_sent] %>
            <% @like_value.user_id = current_user.id %>
            <% if params[:commit] == "Like" %>
              <%= "You liked the previous job" %><br><br>
              <% @like_value.like = true %>
            <% elsif params[:commit] == "Dislike" %>
              <%= "You weren't interested in the previous job" %><br><br>
              <% @like_value.like = false %>
            <% end %>
            <% @like_value.save %>
          <% elsif params[:commit] == "Like" %>
            <%= "You liked the previous job" %><br><br>
            <% @like_value.like = true %>
          <% elsif params[:commit] == "Dislike" %>
            <%= "You weren't interested in the previous job" %><br><br>
            <% @like_value.like = false %>
          <% end %>
        <% end %>

        <% @current_job = nil %>
        <% @jobs.each do |job| %>
          <% if job.url[0..100] == @titles[j][:href][0..100] %>
            <% @current_job = job %>
            <% break %>
          <% end %>
        <% end %>
        <% if @current_job.nil? %>
          <% @current_job = Job.new %>
          <% @current_job.url = @titles[j][:href] %>
          <% @current_job.title = @titles[j].text %>
          <% @current_job.company = @companies[j].text %>
          <% @current_job.location = @locations[j].text %>
          <% @current_job.description = @summaries[j].text %>
          <% @current_job.save %>
        <% end %>
      <% end %>

      <%= form_for @jobs, :method => :get, url: jobs_path do |f| %>
        <% j = params[:place].to_i %>
        <% j += 1 %>
        <% start = params[:start].to_i %>
        <% nextPage = "0" %>
        <% nextPage = "1" if !@companies[j-1].nil? && @companies[j].nil? %>
        <% if nextPage == "1" %>
          <% start += 10 %>
          <% j = 0 %>
        <% end %>
         
        <%= hidden_field_tag 'q', params[:q] %>
        <%= hidden_field_tag 'l', params[:l] %>
        <%= hidden_field_tag 'place', j %>
        <%= hidden_field_tag 'start', start %>
        <%= hidden_field_tag 'nextPage', nextPage %>
        <% if user_signed_in? %>
          <%= hidden_field_tag 'id_sent', @current_job[:id] %>
        <% end %>
        <%= f.submit "Dislike", :type => :image, :src => "/assets/dislike.jpg" %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.submit "Like", :type => :image, :src => "/assets/like.jpg" %>
      <% end %>
    <% end %>              
  </body>
</html>

