<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobcatcher</title>
    <link href="/assets/boot-business.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="https://raw.github.com/allmarkedup/purl/master/purl.js"></script>
  </head>
  <body>
    <%= render :partial => "devise/shared/login_link" %>
    <% j = params[:place].to_i %>
    <% if @companies[j].nil? %>
      <h4>We're sorry, no jobs to catch.</h4>
      <h3>Try Again</h3>
      <%= render :partial => "jobs/search" %>
    <% else %>
      <br><div style="font-size:18px;"><b><%= @titles[j].text %></b></div>
      <%= @companies[j].text %> - <%= @locations[j].text %><br><br>
      <a href="http://www.indeed.com/<%= @titles[j][:href] %>" target=_blank><%= @summaries[j].text %></a><br><br><br>
      <script type="text/javascript">
        var j = parseInt($.url().param('place'));
        var start = parseInt($.url().param('start'));
        function increment() {
          j++;
          document.nextJob.q.value = $.url().param('q');
          document.nextJob.l.value = $.url().param('l');
          if (document.nextJob.nextPage.value === "1") {
            start += 10;
            j = 0;
          }
          document.nextJob.place.value = j;
          document.nextJob.start.value = start;
          return true;
        }
      </script>
      <% if user_signed_in? %>
        <% @current_job = nil %>
        <% id = '0' %>
        <% @jobs.each do |job| %>
          <% if job.url[0..100] == @titles[j][:href][0..100] %>
            <% @current_job = job %>
            <% id = job.id %>
            <% break %>
          <% end %>
        <% end %>
        <% if @current_job.nil? %>
          <% @current_job = Job.new %>
          <% @current_job.url = @titles[j][:href] %>
          <% @current_job.title = @titles[j].text %>
          <% @current_job.company = @companies[j].text %>
          <% @current_job.location = @locations[j].text %>
          <% @current_job.description = @summaries[j].text %>
          <% @current_job.save %>
        <% end %>
        <%= form_for @jobs, :method => :get, url: jobs_path do |f| %>
          <% j = params[:place].to_i %>
          <% start = params[:start].to_i %>
          <% j += 1 %>
          <% nextPage = "0" %>
          <% nextPage = "1" if !@companies[j].nil? && @companies[j+1].nil? %>
          <% if nextPage == "1" %>
            <% start += 10 %>
            <% j = 0 %>
          <% end %>

          <%= hidden_field_tag 'q', params[:q] %>
          <%= hidden_field_tag 'l', params[:l] %>
          <%= hidden_field_tag 'place', j %>
          <%= hidden_field_tag 'start', start %>
          <%= hidden_field_tag 'nextPage', nextPage %>
          <%= f.submit "Dislike", :type => :image, :src => "/assets/dislike.jpg" %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.submit "Like", :type => :image, :src => "/assets/like.jpg" %>
        <% end %>
      <% else %>
        <form action="/jobs" name="nextJob" onsubmit="return increment();">
          <input type="hidden" name="q">
          <input type="hidden" name="l">
          <input type="hidden" name="place">
          <% if !@companies[j].nil? && @companies[j+1].nil? %>
            <input type="hidden" name="nextPage" value="1">
          <% else %>
            <input type="hidden" name="nextPage" value="0">
          <% end %>
          <input type="hidden" name="start">
          <input type="image" src="/assets/dislike.jpg" alt="Submit" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="image" src="/assets/like.jpg" alt="Submit" />
        </form>
      <% end %>
    <% end %>              
  </body>
</html>

