<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <a href="http://www.indeed.com/<%= @job.url %>" target="_blank"><%= @job.title %></a>
</p>

<p>
  <b>Url:</b>
  <%= @job.url %>
</p>

<p>
  <b>Company:</b>
  <%= @job.company %>
</p>

<p>
  <b>Location:</b>
  <%= @job.location %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
