<table cellspacing='0' style='font-family:arial;text-align:left;margin-left:auto;margin-right:auto;'>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <tr><td style='font-size:16px'><b><%= devise_error_messages! %></b></td></tr>
    <tr><td style='font-size:20px;color:navy'><br><b>Forgot your password?</b><br><br></td></tr>
    <tr><td style='font-size:16px;color:darkcyan'><b>email</b></td></tr>
    <tr><td><%= f.email_field :email, :autofocus => true %></td></tr>
    <tr><td><%= f.submit "Reset password" %></td></tr>
  <% end %>
</table>

<br><br>
<%= render "devise/shared/links" %>
